{% extends "base.html" %}
{% block title %}Patient List{% endblock %}

{# Additional CSS and JS #}
{% block scripts %}
<link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/index.css") }}></link>
<script type="text/javascript" src={{ url_for("static", filename="js/index.js") }}></script>
{% endblock %}

{% block content %}
<ul>
  {% for patient in patients %}
  <li class="entry">
    <a href={{ url_for("patient", id=patient['id']) }}>{{ patient['first_name'] + ' ' + patient['last_name'] }}</a>
  </li>
  {% else %}
  <li class="entry">
    No patients in database
  </li>
  {% endfor %}
</ul>
{% endblock %}
