{% extends "base.html" %}
{% block title %}Patient Record{% endblock %}
{% block headertitle %}Patient Record{% endblock %}

{# Additional CSS and JS #}
{% block scripts %}
<link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/patient.css") }}></link>
<script type="text/javascript" src={{ url_for("static", filename="js/Chart.min.js") }}></script>
<script type="text/javascript" src={{ url_for("static", filename="js/patient.js") }}></script>

{# Pass patientID to JS #}
<script> var patientID = {{ patient['id'] }} </script>
{% endblock %}

{# Main page content #}
{% block content %}
<div class="row">
  <div class="col s3">
    <div class="card-panel white">
      <span class="card-title">{{ patient['first_name']|capitalize() }} {{ patient['last_name']|capitalize() }}</span>
      <p>{{ patient['gender'] }}
      <br>ID: {{ "%06d" % patient['id'] }}</p>
    </div>
  </div>
  <div class="col s9">
    <div class="card-panel col s9 white ">
      <form>
        <div class="input-field col s12">
          <select>
            <option value="height">Height</option>
            <option value="weight">Weight</option>
            <option value="blood pressure">Blood Pressure</option>
            <option value="ecg">ECG</option>
            <label>Biometric to display</label>
          </select>
        </div>
      </form>
    </div>
  </div>

  <div class="col s12">
    <div id="canvas-wrapper" class="card-panel white">
      <canvas id="canvas"></canvas>
    </div>
  </div>
</div>

{% endblock %}
