{% extends "base.html" %}
{% block title %}Patient List{% endblock %}
{% block headertitle %}Patient List{% endblock %}


{# Additional CSS and JS #}
{% block scripts %}
<!--<link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/index.css") }}></link>-->
<script type="text/javascript" src={{ url_for("static", filename="js/index.js") }}></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="section col s12">
    <h6 class="header">Registered Patients</h4>
    <div class="divider"></div>
    <div class="row">
    {% if error %}
      <h6 class="red-text">  {{ error }} </h6>
    {% else %}
      <div class="collection col6">
        {% for patient in patients %}
          <a class="collection-item" href={{ url_for("patient", id=patient['id']) }}>
            <span class="patient-id">{{ "%06d" % patient['id']}}</span>
            <span class="patient-name">{{ "%s %s" % (patient['first_name'], patient['last_name']) }}</span>
            <div class="secondary-content"><i class="material-icons">perm_identity</i></div>
          </a>
        {% else %}
          <li class="collection-item">
            No patients in the database
          </li>
        {% endfor %}
    </div>
    </div>
  {% endif %}
  </div>
</div>
</div>
{% endblock %}
