body {
  background: whitesmoke;
}

/* Change header height to 32px */
nav, div.navbar-fixed, div.nav-wrapper {
  height:32px; 
  line-height:32px;
}

/* Patient list */
span.patient-id {
  margin-right:32px;
}
