/* Patient page styling */

#wrapper {
    height: 100%;
    width: 1280px;
    margin: 0 auto;
}

#info_wrapper {
    padding: 20px 50px;
}

#info_wrapper h1 {
   font-size: 32px; 
}

#canvas_wrapper {
    padding: 20px 50px;
    background-color: white;

	border: 1px solid #afafaf;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
